APP_NAME=TELEHEALTH
APP_ENV=local
APP_KEY=base64:XtQOdYTQGkfbXZxsfyenJbXS3LJ2zy5JVTeJXD0z+PE=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=telehealth
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_DRIVER=log
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="${APP_NAME}"
MAIL_FROM_NAME="${APP_NAME}"


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=local
PUSHER_APP_KEY=local
PUSHER_APP_SECRET=local
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Stripe Configuration
# Get your keys from https://dashboard.stripe.com/apikeys
PRIVATE_KEY=
SECRET_KEY=
PUBLIC_KEY=

FIREBASE_CREDENTIALS=serviceAccountKey.json

REACT_APP_URL='http://localhost:5173/milestone'

# REACT_APP_URL='https://custom-dev.onlinetestingserver.com/milestone'

# WebEx Configuration
# Get credentials from https://developer.webex.com/
WEBEX_PERSONAL_ACCESS_TOKEN=""
WEBEX_BOT_ACCESS_TOKEN=""
WEBEX_INSTANT_CONNECT_API_URL=""
WEBEX_HOST_BASE_URL=""
WEBEX_GUEST_BASE_URL=""

WEBEX_CLIENT_ID=""
WEBEX_CLIENT_SECRET=""
WEBEX_INTEGRATION_ID=""
WEBEX_REDIRECT_URI=""
FRONTEND_REDIRECT_URI=""
WEBEX_GUEST_ISSUER_ID=""
WEBEX_GUEST_SECRET=""

# Zoho Configuration
# Get credentials from https://api-console.zoho.com/
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REDIRECT_URI=
ZOHO_PORTAL_KEY=
ZOHO_FRONTEND_REDIRECT_URI=




